In [10]:
import pandas as pd

df = pd.read_csv('IRIS.csv')

#returns a new dataframe by remoing the rows which contains empty columns
#does not change the original dataset
new_df = df.dropna()

print(new_df.to_string())

   sepal_length  sepal_width  petal_length  petal_width      species
1           4.9          3.0           1.4          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa

In [13]:
import pandas as pd

df = pd.read_csv('IRIS.csv')

#by adding inplace=True 
#dropna function will remove all the rows which contains empty columns from original dataset
df.dropna(inplace = True)

print(df.to_string())

   sepal_length  sepal_width  petal_length  petal_width      species
1           4.9          3.0           1.4          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa

In [16]:
import pandas as pd

df = pd.read_csv('IRIS.csv')

df.fillna(130, inplace = True)

print(df.to_string())

   sepal_length  sepal_width  petal_length  petal_width      species
0         130.0          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2         130.0          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2          130
5           5.4          3.9           1.7          0.4  Iris-setosa
6         130.0          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa